body,html {
    margin:0;
    padding:0;
}

ul, ol, li {
    list-style: none;
    margin:0;
}

a, a:link, a:active, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

#app{
    width:50%;
    min-width:400px;
    margin:0 auto;
    margin-top: 30px;
}
#home .blogList .content img{
    display: inline-block;
    max-width: 50%;
}
#home .blogList .content p{
    margin: 0;
}
