<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/libStatic/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libStatic/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adminStatic/style/index.css">
</head>
<body>
<div id="app">
    <div>
        <div>
            <h1 v-text="'请登录'"></h1>
            <p>算了，不登录了</p>
        </div>

        <div>
            <form>
                <div class="form-group">
                    <label for="title">Title:</label>
                     <input id="title" class="form-control" type="text" placeholder="title" v-model="title">
                </div>
                <div class="form-group">
                    <label for="author">author:</label>
                    <input id="author" class="form-control" type="text" placeholder="author" v-model="author">
                </div>
                <div class="form-group">
                    <label for="label">label:</label>
                    <input id="label" class="form-control" type="text" placeholder="多个标签请用逗号隔开" v-model="label">
                </div>
                <div class="form-group">
                    <label for="category">category:</label>
                    <input id="category" class="form-control" type="text" placeholder="分类" v-model="category">
                </div>
            </form>
        </div>

        <textarea name="con_text" id="" style="width:500px;min-height:620px;display:none"></textarea>
        <script id="editor" type="text/plain"></script>

        <div class="btn btn-success submit" @click="submit">submit</div>
    </div>
    <div class="show" id="show"></div>
</div>

<script src="/libStatic/jquery/jquery.min.js"></script>
<script src="/libStatic/vue/vue.min.js"></script>
<script src="/libStatic/lodash/lodash.min.js"></script>
<script src="/libStatic/ueditor-utf8-php/ueditor.config.js"></script>
<script src="/libStatic/ueditor-utf8-php/ueditor.all.min.js"></script>
<script src="/libStatic/ueditor-utf8-php/lang/zh-cn/zh-cn.js"></script>
<script src="/adminStatic/script/index.js"></script>

</body>
</html>