body,h1,h2,h3,h4,h5,h6,p,ul,li,ol{
  margin: 0;
}
html ,body{
  height: 100%;
}
a,a:hover,a:active,a:visited{
  text-decoration: none;
  color: #000;
}
body {
  min-height: 100%;
}
ul,li{
  list-style: none;
}
button{
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.blue50{color: #e3f2fd}
.blue100{color: #bbdefb}
.blue200{color: #90caf9}
.blue300{color: #64b5f6}
.blue400{color: #42a5f5}
.blue500{color: #2196f3}
.blue600{color: #1e88e5}
.blue700{color: #1976d2}
.blue800{color: #1565c0}
.blue900{color: #0d47a1}
.blueA100{color: #82b1ff}
.blueA200{color: #448aff}
.blueA400{color: #2979ff}
.blueA700{color: #2962ff}
.indigo50{color: #e8eaf6}
.indigo100{color: #c5cae9}
.indigo200{color: #9fa8da}
.indigo300{color: #7986cb}
.indigo400{color: #5c6bc0}
.indigo500{color: #3f51b5}
.indigo600{color: #3949ab}
.indigo700{color: #303f9f}
.indigo800{color: #283593}
.indigo900{color: #1a237e}
.indigoA100{color: #8c9eff}
.indigoA200{color: #536dfe}
.indigoA400{color: #3d5afe}
.indigoA700{color: #304ffe}

.filter{
  filter: blur(5px);
  -ms-filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: all .2s ease;
}
.common_button{
  padding: 0 70px;
  line-height: 36px;
  height: 36px;
  border-radius: 5px;
  background: #5c6bc0;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.common_button:hover{
  background: #3949ab;
}
.common_container{
  max-width: 1200px;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.clearF:after{
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
}
.showSocialistValues{
  position: absolute;
  color: #3f51b5;
  animation: showSocialistValues 3.5s;
  opacity: 0
}
@keyframes showSocialistValues {
  0%{opacity: 1;transform: translateY(0)}
  /*20%{opacity: 0.9;transform: translateY(10px)}*/
  /*40%{opacity: 0.7;transform: translateY(20px)}*/
  /*50%{opacity: 0.5;transform: translateY(30px)}*/
  /*80%{opacity: 0.2;transform: translateY(40px)}*/
  100%{opacity: 0;transform: translateY(-50px)}
}
.arrow_down{
  background: url('../images/arrow_down.png') no-repeat center;
  background-size: 100%;
}
.arrow_down:hover{
  cursor: pointer;
}

